@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*font-family: 'Noto Sans Japanese', sans-serif;*/

body 
{
	color: #0f0f0f;
	font-family: "メイリオ","Meiryo",
         "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka",
         "ＭＳ Ｐゴシック","MS PGothic","Verdana",sans-serif;;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
	height: 100%;
}

.gothic{
	font-family:'Noto Sans Japanese', sans-serif;
}

