@charset "utf-8";


.canvas-outer{
	background-color:#4e4e59;
	position: absolute;
	z-index: -1;
	width: 1280px;
	height: 452px;
}

.re-music-area{
	padding: 20px 0;
	width: 1060px;
	margin: 0 auto 15px;
	color: #fff;
	
	.re-music-area-left{
		margin-right: 29px;
		float: left;
		
		img{
			width : 411px;
		}
	}

	.re-music-area-right{

		float: left;
		width: 620px;
		
		.re-album-title{
			font-size: 67px;
			font-weight: 200;

			line-height: 1;
			
			margin: -12px 0 17px -10px;
		}

		.re-info-btn-gather{

			margin-bottom: 53px;

			li{
				display: inline-block;
				
			}

			a{
				display:block;
				height: 23px;
				text-align:center;
				border: 1px solid #fff;
				width: 200px;
				font-size: 13px;
				font-weight: 600;
				color: #fff;
				line-height: 20px;
			}
			
		}

	}
}


.re-music-gather{
	.music-name-list{

		margin-bottom: 9px;
		font-size: 12px;
		
		&:last-child{
			margin-bottom: 0;
		}
		
		
		a{
			display: block;
			height: 12px;
			width: 620px;
			color: #fff;
		
		}
		
		.music-num{
			display: inline-block;
			float: left;
			margin-right: 22px;
		}
		.music-name{
			display: inline-block;
			float: left;
			width: 292px;
		}
		.music-artist{
			display: inline-block;
			float: left;
			
		}
	}
}


.re-lineup-area{
	width: 1060px;
	margin: 0 auto 180px;
	
	.re-lineup-title{
		font-size: 36px;
		margin-bottom: 10px;

	}

	.re-lineup-works-gather{
	
	li{
		float: left;
		margin:0 7px 7px 0;
		cursor: pointer;
		
		&:nth-child(5n+5){
			margin-right: 0;
		}

		img{
			width : 206px;
		}
	}


}
}

#modal-container {
  z-index: 42;
  display: none ;
  background-color: #fff;
  margin : 0 auto;
  left: 0;
  top: 0;
  position: relative;
  width: 740px;
  top: 50%;
  transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

#modal-overlay {
  z-index: 21 ;
  display: none ;
  position: fixed ;
  top: 0 ;
  left: 0 ;
  width: 100% ;
  height: 120% ;
  background-color: #000;
  opacity: .7
}

#modal-contents{
    // display: none;
    position:relative;
    width : 100%;
    
overflow: hidden;
}

.wrap-fixed{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

#modal-contents{

	.modal-store{
		font-size: 30px;
		text-align: center;
		margin-top: 30px;
	}

		ul{
			width : 640px;
			margin: 20px auto 30px;
		}
				
			li{
				display: inline-block;
				margin-right: 14px;
				margin-bottom : 15px;
				
				&:nth-child(3n){
					margin-right: 0;
				}
				
			}



			a{
				display:block;
				height: 23px;
				text-align:center;
				border: 1px solid #000;
				width: 200px;
				font-size: 13px;
				font-weight: 600;
				color: #000;
				line-height: 20px;
			}
}



